#even{
  background-color: #D3D3D3;
}

#odd{
  background-color: #C0C0C0;
}

#greet{
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana;
}

#TL{
  border-style: groove;
}
