.even{
  background-color: #e9e9e9;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100px;
}

.odd{
  background-color: #e8f5fd;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100px;
}

.greet{
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana;
}

#TL{
  border-style: groove;
}

.userInfo{
  float: left;
  text-align: center;
  width: 180px;
  position: relative;
  top: 5%;
}

.name{
  font-weight: bold;
  font-size: 12pt;
}

.handle{
  font-size: 10pt;
}

.content{
  text-align: left;
  position: relative;
  top: 8%;
  left: 1%;
}

.date{
  font-size: 10pt;
  padding-bottom: 20px;
}

.msg{
  font-size: 12pt;
}

.img-circle{
  border-radius: 50%;
}

a:link{
  text-decoration: none;
  color: black;
}

a:hover{
  color:blue;
}
