@mixin greeting {
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana;
  margin: 0 0 20px 0;
}

@mixin tweetList {
  border: 1px solid;
  margin: 10px 5px;
}

@mixin myTweetsMargin {
  margin: 0px 5px;
}

@mixin headerMargin {
  margin: 10px 5px 5px;
  text-align: center;
}

@mixin timelineMargin {
  margin: 0px 5px;
}

$border-color: #d3d3d3;
$timeline-even-tweet: #e9e9e9;
$timeline-odd-tweet: #e8f5fd;
$mytweets-even-tweet: #f5f8fa;
$mytweets-odd-tweet: #1da1f2;
$tab-bg: #f1f1f1;
$tab-bg-hover: #ddd;
$tab-bg-active: #ccc;

.tweet {
  height: 110px;
  border-bottom: 1px solid $border-color;
  overflow: scroll;

  .userInfo{
    float: left;
    clear: left;
    text-align: center;
    width: 160px;
    margin: 14px 0;

    .name {
      font-weight: bold;
      font-size: 11pt;
    }

    .handle {
      font-size: 7pt;
    }

    .img-circle {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
}

.greet {
  @include greeting
  .name{
    color: green;
  }
}

.tweets {
  width: 80%;
  margin: auto;
  .header {
    @include headerMargin
  }
  .tweetsButton {
    @include myTweetsMargin
  }
}

.tweetList {
  @include tweetList
}

.tweetListWrapper {
  padding: 0 10px 0 0;
}

#timelineColumn {
  .filterTweetDiv {
    float: right;
    #filterButton {
      margin: 0 5px;
    }
  }
  .tweet {
    &:nth-of-type(even) {
      background-color: $timeline-even-tweet;
    }
    &:nth-of-type(odd) {
      background-color: $timeline-odd-tweet;
    }
  }
}

#userTweetsColumn {
  .tweet {
    &:nth-of-type(even) {
      background-color: $mytweets-even-tweet;
    }
    &:nth-of-type(odd) {
      background-color: $mytweets-odd-tweet;
    }
  }
}

#postTweetColumn {
  .postTweet {
    width: 80%;
    margin: auto;

    .postTweetWrapper {
      padding: 0 15px 0 0;

      .successText {
        margin: 0 5px;
        color: green;
      }

      .failText {
        margin: 0 5px;
        color: red;
      }

      .pendingText {
        margin: 23px 5px;
      }

      .header {
        @include headerMargin
      }

      #userTweetText {
        height: 120px;
        width: 98%;
        resize: none;
        margin: 10px 0 0 5px;
      }

      .verifyTweet {
        float: right;
        clear: both;
        margin: 5px 5px 0 0;
      }

      .characterCount {
        font-size: 10pt;
        position: relative;
        float: right;
        bottom: 23px;
        right: 8px;
      }
    }
  }
}

#twitterTabs {
  .tabUL {
    border: 1px solid;
    border-color: #ccc;
    background-color: $tab-bg;
    height: 37px;
    padding-left: 0px;
    margin: auto;
    width: 90%;
    .tab {
      display: inline-block;
      background-color: inherit;
      font-size: 11pt;
      color: #444;
      padding: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $tab-bg-hover;
      }
    }
    .active {
      background-color: $tab-bg-active;
    }
  }
}

.content {
  text-align: left;
  padding: 33px 10px 0 0;
  overflow: scroll;

  .date {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 5px;
  }

  .msg {
    font-size: 11pt;
  }

  .link {
    &:link {
      text-decoration: none;
      color: black;
    }
    &:hover {
      color: blue;
    }
  }
}
