@mixin greeting {
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana;
}

@mixin tweetList {
  border: 1px solid;
  margin: 10px 5px;
}

@mixin myTweetsMargin {
  margin: 0px 5px;
}

@mixin headerMargin {
  margin: 0px 5px 5px;
}

@mixin timelineMargin {
  margin: 0px 5px;
}

$border-color: #d3d3d3;
$timeline-even-tweet: #e9e9e9;
$timeline-odd-tweet: #e8f5fd;
$mytweets-even-tweet: #f5f8fa;
$mytweets-odd-tweet: #1da1f2;

.tweet {
  height: 110px;
  border-bottom: 1px solid $border-color;
  overflow: scroll;

  .userInfo{
    float: left;
    clear: left;
    text-align: center;
    width: 160px;
    margin: 14px 0;

    .name {
      font-weight: bold;
      font-size: 11pt;
    }

    .handle {
      font-size: 7pt;
    }

    .img-circle {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
}

.greet {
  @include greeting
  .name{
    color: green;
  }
}

#timelineColumn {
  .tweets {
    float: left;
    clear: both;
    width: 60%;
    .header {
      @include headerMargin
    }
    .tweetsButton {
      @include timelineMargin
    }
    .tweetListWrapper {
      padding: 0 10px 0 0;
    }
    .filterTweetDiv {
      float: right;
      #filterButton {
        margin: 0 5px;
      }
    }
  }
  .tweetList {
    @include tweetList
    .tweet {
      &:nth-of-type(even) {
        background-color: $timeline-even-tweet;
      }
      &:nth-of-type(odd) {
        background-color: $timeline-odd-tweet;
      }
    }
  }
}

#userTweetsColumn {
  .tweets {
    float: left;
    width: 40%;
    .header {
      @include headerMargin
    }
    .tweetsButton {
      @include myTweetsMargin
    }
  }
  .tweetList {
    @include tweetList
    .tweet {
      &:nth-of-type(even) {
        background-color: $mytweets-even-tweet;
      }
      &:nth-of-type(odd) {
        background-color: $mytweets-odd-tweet;
      }
    }
  }
}

.content {
  text-align: left;
  padding: 33px 10px 0 0;
  overflow: scroll;

  .date {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 5px;
  }

  .msg {
    font-size: 11pt;
  }

  .link {
    &:link {
      text-decoration: none;
      color: black;
    }
    &:hover {
      color: blue;
    }
  }
}
