@mixin greeting {
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana;
  margin-bottom: 20px;
}

@mixin tweetList {
  border: 1px solid;
  margin: 10px 5px;
}

@mixin myTweetsMargin {
  margin: 0px 5px;
}

@mixin headerMargin {
  margin: 10px 5px 5px;
  text-align: center;
}

@mixin timelineMargin {
  margin: 0px 5px;
}

$border-color: #d3d3d3;
$timeline-even-tweet: #e9e9e9;
$timeline-odd-tweet: #e8f5fd;
$mytweets-even-tweet: #f5f8fa;
$mytweets-odd-tweet: #1da1f2;
$tab-bg: #f1f1f1;
$tab-bg-hover: #ddd;
$tab-bg-active: #ccc;

.tweet {
  height: 114px;
  border-bottom: 1px solid $border-color;
  overflow: hidden;

  .userInfo{
    float: left;
    clear: left;
    text-align: center;
    width: 160px;
    margin: 16px 0;

    .name {
      font-weight: bold;
      font-size: 11pt;
    }

    .handle {
      font-size: 7pt;
    }

    .img-circle {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }

  .replyButton {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
}

.greet {
  @include greeting
  .name{
    color: green;
  }
}

.tweets {
  width: 80%;
  margin: auto;
  .header {
    @include headerMargin
  }
  .tweetsButton {
    @include myTweetsMargin
  }
}

.tweetList {
  @include tweetList
}

.tweetListWrapper {
  padding-right: 10px;
}

#timelineColumn {
  .filterTweetDiv {
    float: right;
    #filterButton {
      margin: 0 5px;
    }
  }
  .tweet {
    &:nth-of-type(even) {
      background-color: $timeline-even-tweet;
    }
    &:nth-of-type(odd) {
      background-color: $timeline-odd-tweet;
    }
  }
}

#userTweetsColumn {
  .tweet {
    &:nth-of-type(even) {
      background-color: $mytweets-even-tweet;
    }
    &:nth-of-type(odd) {
      background-color: $mytweets-odd-tweet;
    }
  }
}

#postTweetColumn {
  .header {
    @include headerMargin
  }
}

.postTweet {
  width: 80%;
  margin: auto;

  .postTweetWrapper {
    padding-right: 15px;
    position: relative;

    .characterCount {
      font-size: 10pt;
      position: absolute;
      top: 136px;
      right: -3px;
    }

    .postTweetFeatures {
      position: absolute;
      top: 167px;
      right: -11px;

      .postTweetResult {
        margin: 0 5px;
        font-size: 11pt;

        .successText {
          color: green;
        }

        .failText {
          color: red;
        }
      }
    }

    .postTweetText {
      position: absolute;
      height: 120px;
      width: 100%;
      resize: none;
      margin: 28px 0 0 5px;
    }
  }
}

#twitterTabs {
  .tabUL {
    border: 1px solid;
    border-color: #ccc;
    background-color: $tab-bg;
    height: 37px;
    padding-left: 0px;
    margin: auto;
    width: 90%;

    .tab {
      display: inline-block;
      background-color: inherit;
      font-size: 11pt;
      color: #444;
      padding: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $tab-bg-hover;
      }
    }

    .active {
      background-color: $tab-bg-active;
    }
  }
}

#replyTweetModal {
  .replyModal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 40%;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-name: fadeIn;
    animation-duration: 0.2s;

    &.active {
      display: block;
    }
  }

  .modal-content {
    position: fixed;
    right: 0px;
    width: 40%;
    height: 100%;
    margin: auto;
    background-color: white;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.2s;
    animation-name: slideIn;
    animation-duration: 0.2s;
    border: 1px solid black;
  }

  .close-modal {
    position: absolute;
    right: 10px;
    font-size: 20pt;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }

  @-webkit-keyframes slideIn {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
  }

  @keyframes slideIn {
      from {right: -300px; opacity: 0}
      to {right: 0; opacity: 1}
  }

  @-webkit-keyframes fadeIn {
      from {opacity: 0}
      to {opacity: 1}
  }

  @keyframes fadeIn {
      from {opacity: 0}
      to {opacity: 1}
  }

  .header {
    margin: 10px 5px 15px 5px;
    text-align: center;
  }

  .tweet {
    border: none;
    background-color: white;
    margin: 0px 25px;
  }

  .characterCount {
    top: 136px;
    right: -3px;
  }

  .postTweetFeatures {
    top: 167px;
    right: -11px;
  }
}

.content {
  text-align: left;
  padding: 33px 10px 0 0;
  overflow: hidden;

  .date {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 5px;
  }

  .msg {
    font-size: 11pt;
    margin-bottom: 2px;
  }

  .link {
    &:link {
      text-decoration: none;
      color: black;
    }
    &:hover {
      color: blue;
    }
  }
}
